.p-editor-container .ql-editor p {
    font-size: 1rem;
    color: #3f3f46;
}

.p-editor-container *:focus {
    // border-color: #4f46e5;
    outline-color: #4f46e5;
}

#note-editor.has-focused-child {
    outline: solid 2px #4f46e5;
}
