.p-galleria {
    background: rgba(0, 0, 0, 0.9);
}

.youtube-gallery-thumbnail {
    height: 100px;
}

.video-replay {
    background-color: #fff !important;
    top: 0;
    right: 0;
    margin: 1rem;
}

.empty-video {
    height: 200px;
}
