.p-tabmenu {
    background-color: #fafafa;

    ul {
        background-color: #fafafa !important;

        li {
            background-color: #fafafa !important;

            a {
                background-color: #fafafa !important;
            }
        }
    }
}
